html{
  min-height: 100%;
  position: relative;
}

body {
  position: absolute;
  height: 100%;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: #131247;
}

header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  z-index:9999;
  height: 50pt;
  -webkit-box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.05);
  box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.05);
}

h1 {
  mix-blend-mode: difference;
  color: white;
  font-family: verdana;
  font-size: 300%;
}

.content {
  position: relative;
  text-align: center;
}

.content p {
  color: yellow;
  font-family: courier;
  font-size: 200%;
}

.content a {
  font-weight: bold;
}

.bg {
  position: fixed;
  top: -75%;
  left: -10%;
  width: 150%;
  height: 150%;
  background: linear-gradient(0deg, rgba(23,22,87,1) 0%, rgba(17,16,22,1) 100%); /* #171657 - #111016 */
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-box-shadow: -5px 5px 10px 5px rgba(0,0,0,0.05);
  -moz-box-shadow: -5px 5px 10px 5px rgba(0,0,0,0.05);
  box-shadow: -5px 5px 10px 5px rgba(0,0,0,0.05);
}

.window * {
  z-index: 100;
}

#errorWindow {
  visibility: hidden;
  margin: 32px;
  width: 250px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -125px;
  --shit: rotate(0deg);
  transform: scale(3.0) var(--shit);
  -webkit-transform: scale(3.0) var(--shit);
}

.closeButton, .minimizeButton {
  opacity: 0.6;
}

.maximizeButton {
  margin-left: 1px;
  -webkit-animation: pulse 2s infinite alternate;
  animation: pulse 2s infinite alternate;
  -moz-animation: pulse 2s infinite alternate;
}


@keyframes morph {
  0% {
    transform: scale(3.0) var(--shit);
    -webkit-transform: scale(3.0) var(--shit);
  }
  100% {
    transform: scale(3.0) var(--shit) skewX(40deg) rotateY(60deg) scaleY(1.3);
    -webkit-transform: scale(3.0) var(--shit) skewX(40deg) rotateY(60deg) scaleY(1.3);
  }
}

@keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(0px 5px 10px #d35400);
    filter: drop-shadow(0px 5px 10px #d35400);
    filter: blur(0px);
    /*filter: hue-rotate(0deg);*/
  }
  100% {
    -webkit-filter: drop-shadow(0px 20px 50px #d35400);
    filter: drop-shadow(0px 20px 50px #d35400);
    filter: blur(1px);
    /*filter: hue-rotate(90deg);*/
  }
}

/* TEMP */
@keyframes flicker {
  0%   { opacity: 0.52 }
  25%  { opacity: 0.91 }
  50%  { opacity: 0.75 }
  63%  { opacity: 0.3 }
  75%  { opacity: 0.37 }
  100% { opacity: 0.93 }
}

.annoying {
  animation: flicker 6s infinite alternate;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}