:root {
  --hcolor: rgb(116, 178, 180);
  --bcolor: rgb(151, 183, 206); /* rgba(23,22,87, 1); */
  --bcolor-overlay: rgb(60, 98, 126); /* rgba(19, 18, 71, 1); */
}

html {
  min-height: 100%;
  position: relative;
}

body {
  position: absolute;
  height: 100%;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: var(--bcolor);
}

header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  z-index: 9999;
  height: 50pt;
  background-color: var(--hcolor);
  box-shadow: 5px 0px 20px 0px rgba(255, 255, 255, 0.3);
}

h1 {
  mix-blend-mode: difference;
  color: white;
  font-family: verdana;
  font-size: 300%;
  padding: 10px;
}

.content {
  position: relative;
  text-align: center;
}

.content p {
  color: yellow;
  font-family: courier;
  font-size: 200%;
}

.content a {
  font-weight: bold;
  font-size: 50%
}

.bg {
  position: fixed;
  top: -75%;
  left: -10%;
  width: 150%;
  height: 150%;
  background: linear-gradient(0deg, var(--bcolor-overlay), rgba(0, 0, 0, 0.4)); /* #171657 - #111016 */
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.7));
  box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.2);
  transform: rotate(30deg);
  transition: 0.4s;
}

.bg:hover {
  background: linear-gradient(0deg, var(--bcolor-overlay), rgba(255, 255, 255, 0.4));
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.8));
  box-shadow: inset 0 0 40px 40px rgba(0, 0, 0, 0.3);
}

.window * {
  z-index: 100;
}

#error-window {
  visibility: hidden;
  margin: 32px;
  width: 250px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -125px;
  --shit: rotate(0deg);
  transform: scale(3.0) var(--shit);
  /*box-shadow: 15px 15px 20px -20px rgba(black,.8);*/
}

.closeButton, .minimizeButton {
  opacity: 0.8;
}

.maximizeButton {
  margin-left: 1px;
  animation: pulse 2s infinite alternate;
}

.annoying {
  animation: flicker 6s infinite alternate;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}


.zoom-in {
  animation: maximize-window 1s normal forwards;
  animation-iteration-count: 1;
}

@keyframes morph {
  to {
    transform: scale(3.0) var(--shit) skewX(40deg) rotateY(60deg) scaleY(1.3);
  }
}

@keyframes pulse {
  0% {
    box-shadow: auto;
  }
  100% {
    -webkit-filter: drop-shadow(0 0 3px rgba(255, 255, 0, 0.85))
                    drop-shadow(0 0 8px rgba(255, 0, 255, 0.85))
                    drop-shadow(0 0 12px rgba(0, 255, 255, 0.85));
    filter:         drop-shadow(0 0 3px rgba(255, 255, 0, 0.85))
                    drop-shadow(0 0 8px rgba(255, 0, 255, 0.85))
                    drop-shadow(0 0 12px rgba(106, 172, 172, 0.85));
  }
}

@keyframes flicker {
  0%   { opacity: 0.52 }
  25%  { opacity: 0.91 }
  50%  { opacity: 0.75 }
  63%  { opacity: 0.3 }
  75%  { opacity: 0.37 }
  100% { opacity: 0.93 }
}

@keyframes maximize-window {
  to { 
    transform: scale(10.0);
    opacity: 0.9;
  }
}